@using SugarBakery.Models
@using PagedList.Mvc;
@model PagedList.PagedList<tbSanPham>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/_LayoutMenu.cshtml";
}

<h3 style="text-align:center; color:red">SẢN PHẢM MỚI</h3>
<div class="row">
    @foreach (var sanpham in Model)
    {
        <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">
                <a href="@Url.Action("ChiTiet", "SugarBakery", new {id = sanpham.MaSP})">
                    <img alt="@sanpham.TenSP" src="~/images/sanpham/@sanpham.AnhSP" width="170" />
                    <div>
                        <br />
                        <h4 style="text-align:center">
                            @sanpham.TenSP
                        </h4>
                        <p></p>
                    </div>
                    <div class="ratings">
                        <p class="pull-right">15 reviews</p>
                        <p>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                        </p>
                    </div>
                </a>

            </div>
        </div>
    }
</div>
@* tao lien ket cac trang*@
Trang @(Model.PageCount<Model.PageNumber?0:Model.PageNumber)/@Model.PageCount;
<div class="MenuTrang">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
</div>
<style>
    .MenuTrang li {
        display: inline-block;
        box-sizing: border-box;
        border: 1px solid #e1e1e1;
        margin: 1px;
        border-radius: 2px;
        padding: 5px 10px;
    }
</style>